ul {
<<<<<<< HEAD
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #00A2AE;
}

li {
  float: right;
  display: inline;
  color: white;
  text-align: center;
  text-decoration: none;
  justify-content: center;
  margin: 10px;
}

li a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  width: 400 px;
  max-width: 400 px;
  margin: auto;
  text-decoration: none;
}

li a:hover {
  background-color: #FCBC5B;
  color: black
}

footer {
  background-color: #00A2AE;
  color: #fff;
  text-align: center;
  position: absolute;
  bottom: 0;
  padding: 10px 0;
  width: 100%;
}
=======
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #00A2AE;
  }
  
  li {
    float: center;
  }
  
  li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #68D8D6;
  }
>>>>>>> e8974b8a3df8b05b36157501e3b9e9954926325b
