<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baby 2023</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/templates/input.html">Input PDF</a></li>
                <li><a href="/templates/output.html">Output PDF</a></li>
                <li><a href="/templates/index.html">Introducing Baby</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h1>Introducing Baby👋</h1>
            <p>Baby is a <strong>free AI tool</strong> that converts your notes into a <strong>customiazble Problem Set</strong>. 
            </p>
            <img src="/images/babymeme.jpg">
        </section>
        <section>
            <button>Start Training!</button>
        </section>
        <section>
            <h2>Our Mission</h2>
            <p>We strive to make learning more accessible. We partner with the non-profit organization--<a href="https://learnfreely.ca/" target="_blank">LearnFreely</a>--to impose a more independent method of learning.</p>
        </section>
    </main>
    <footer>
        <p>&copy; 2023 Baby | 2023 NewHacks </p>
    </footer>
</body>
</html>
