<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Baby 2023</title>
        <link rel="stylesheet" href="{{url_for ('static', filename = 'style.css')}}">
    </head>
    <body>
        <main class = "container1">
            <div>
                <h1>Introducing Baby👋</h1>
                <div>   
                    <p>Baby is a <strong>free AI tool</strong> that converts your notes into a <strong>customizable problem set</strong>. 
                    </p>
                </div>
            </div>
            <div>
                <h2>Our Mission</h2>
                <p>We strive to make learning more accessible. We partner with the non-profit organization--<a href="https://learnfreely.ca/" target="_blank">LearnFreely</a>--to impose a more independent method of learning.</p> 
            </div>
            <div>
                <h1>Train with Baby for FREE</h1>
                <p>Upload a picture of your notes and generate a customizable problem set!</p>
            </div>
                <h2>How to use Baby in Five Baby-Steps</h2>
                <div>
                    <ol>
                        <li>Click the SELECT PDF☁️ button above</li>
                        <li>Select the document you want to convert</li>
                        <li>Customize your features based on your own learning style</li>
                        <li>Watch Baby do its conversion magic!</li>
                        <li>Download your new Problem Set File and Problem Set Solutions File or SIGN IN to share it</li>
                    </ol>
                </div>
                <div class = "container2">
                    <form class = "container2" method=post enctype=multipart/form-data>
                            <input type=file name=file>
                            <input type=submit value=Upload>
                    </form>
                </div>
                <footer>
                    <p class = "footer_desc">&copy; 2023 Baby | 2023 NewHacks </p>
                </footer>
        </main>
    </body>
</html>
